<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой Город - Главная</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-menu">
                <li><a href="#">Главная</a></li>
                <li><a href="#events">События</a></li>
                <li><a href="/templates/services.html">Услуги</a></li>
                <li><a href="#reviews">Отзывы</a></li>
                <li><a href="/templates/extra.html">Экстренная помощь</a></li>
                <li><a href="/templates/my city.html">Регистрация и Вход</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section id="hero">
            <h1>Добро пожаловать в приложение "Мой Город"!</h1>
            <p>Помогаем вам быть в курсе событий, сервисов и удобств в вашем городе.</p>
        </section>
        
        <section id="events" class="card-section">
            <h2>Городские события</h2>
            <div id="event-cards" class="cards">
                <div class="card">
                    <a href="/templates/1.html">
                        <img src="/static/2pic.webp" alt="Вечеринка 2000-х" class="event-image">
                    </a>
                    <div class="card-content">
                        <h3><a href="/templates/1.html">Вечеринка 2000х группа Инфинити</a></h3>
                        <p>15 ноября в «Royal Palace» тебя ждёт «незабываемая ночь в стиле 2000-х» с выступлением легендарной группы «Инфинити»!</p>
                        <div class="event-details">
                            <div class="event-date">
                                <span class="material-icons"><b>Дата:</b></span>
                                <p>вс, 17 ноя, 19:00</p>
                            </div>
                            <div class="event-location">
                                <span class="material-icons"><b>Локация:</b></span>
                                <p>Областная филармония</p>
                            </div>
                            <div class="event-price">
                                <span class="material-icons"><b>Цена:</b></span>
                                <p>от 6000</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="/templates/2.html">
                        <img src="/static/6pic.jpg" alt="Щелкунчик" class="event-image">
                    </a>
                    <div class="card-content">
                        <h3><a href="/templates/2.html">Спектакль "Щелкунчик"</a></h3>
                        <p>Балет для всей семьи в Петропавловске.Балет в 2х действиях. Сказка, которая завораживает детей и по которой тоскуют взрослые. Произведение немецкого сказочника Гофмана давно сроднилось с музыкой Чайковского.</p>
                        <div class="event-details">
                            <div class="event-date">
                                <span class="material-icons"><b>Дата:</b></span>
                                <p>вс, 17 ноя, 19:00</p>
                            </div>
                            <div class="event-location">
                                <span class="material-icons"><b>Локация:</b></span>
                                <p>Областная филармония</p>
                            </div>
                            <div class="event-price">
                                <span class="material-icons"><b>Цена:</b></span>
                                <p>от 6000</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="/templates/3.html">
                        <img src="/static/3pic.webp" alt="ORDA Tour" class="event-image">
                    </a>
                    <div class="card-content">
                        <h3><a href="/templates/3.html">ORDA в Петропавловск. Tour 2024</a></h3>
                        <p>Концерт группы ORDA в областной филармонии. Группа ORDA за 24 года существования объявляет свой первый тур по Казахстану!

                            ORDA - популярный казахстанский бойзбенд, который по сей день покоряет сердца слушателей, благодаря современному и динамичному звучанию, сочетая элементы поп-рока и казахской этники.</p>
                        <div class="event-details">
                            <div class="event-date">
                                <span class="material-icons"><b>Дата:</b></span>
                                <p>чт, 28 ноя, 19:30</p>
                            </div>
                            <div class="event-location">
                                <span class="material-icons"><b>Локация:</b></span>
                                <p>Областная филармония</p>
                            </div>
                            <div class="event-price">
                                <span class="material-icons"><b>Цена:</b></span>
                                <p>от 7000</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="/templates/4.html">
                        <img src="/static/5pic.webp" alt="Концерт на площади" class="event-image">
                    </a>
                    <div class="card-content">
                        <h3><a href="/templates/4.html">Хоккейный матч-Qulager vs Nomad</a></h3>
                        <p>Приходите на концерт матч нашей команды!</p>
                        <div class="event-details">
                            <div class="event-date">
                                <span class="material-icons"><b>Дата:</b></span>
                                <p>пт, 31 окт, 19:00</p>
                            </div>
                            <div class="event-location">
                                <span class="material-icons"><b>Локация:</b></span>
                                <p>Дворец спорта имени Александра Винокурова</p>
                            </div>
                            <div class="event-price">
                                <span class="material-icons"><b>Цена:</b></span>
                                <p>бесплатно</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="/templates/5.html">
                        <img src="/static/1pic.webp" alt="Фестиваль еды" class="event-image">
                    </a>
                    <div class="card-content">
                        <h3><a href="/templates/5.html">Nurbolat Abdullin Петропавл қаласында</a></h3>
                        <p>Мы рады пригласить вас на концерт Нурболата Абдуллина!</p>
                        <div class="event-details">
                            <div class="event-date">
                                <span class="material-icons"><b>Дата:</b></span>
                                <p>вт, 12 ноя, 19:00</p>
                            </div>
                            <div class="event-location">
                                <span class="material-icons"><b>Локация:</b></span>
                                <p>Областная филармония</p>
                            </div>
                            <div class="event-price">
                                <span class="material-icons"><b>Цена:</b></span>
                                <p>от 3000</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="/templates/6.html">
                        <img src="/static/4pic.webp" alt="Забег на 5 км" class="event-image">
                    </a>
                    <div class="card-content">
                        <h3><a href="/templates/6.html">Шоу под дождём «История 15 лет»</a></h3>
                        <p>Санкт-Петербургский театр танца Рустама Надыршина представляет премьеру юбилейного спектакля Шоу под дождём «История 15 лет»</p>
                        <div class="event-details">
                            <div class="event-date">
                                <span class="material-icons"><b>Дата:</b></span>
                                <p>вс, 17 ноя, 19:00</p>
                            </div>
                            <div class="event-location">
                                <span class="material-icons"><b>Локация:</b></span>
                                <p>Обласная филармония</p>
                            </div>
                            <div class="event-price">
                                <span class="material-icons"><b>Цена:</b></span>
                                <p>от 10000</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
    <footer>
        <p>&copy; 2024 Мой Город. Все права защищены.</p>
    </footer>
    
    <script src="/templates/index.js"></script>
</body>
</html>